.details-view{
    width: 100vw;
    /* background-color: aquamarine; */
    height: 95vh;
    display: flex;
    /* z-index: 1; */
    background-color: rgba(70, 63, 63, 0.421);
    text-align: left;
}
.image-view{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 300px;
    /* background-color: rgb(45, 156, 208); */
    height: 650px;
    padding: 20px;
    padding-top: 80px;
    padding-left: 40px;
    padding-right: 40px;
    /* z-index: 1; */

}
.image-view img{
    border-radius: 8px;
    width: 200px;
    height: 250px;
    border: 2px solid black;

    /* z-index: 2; */
}
.info-view{
    padding-top: 80px;
    padding-left: 70px;
    width: 750px;
    /* background-color: rgb(90, 177, 197); */
    color:aliceblue;
    height: 750px;
    /* z-index: 2; */
    /* background-color: rgba(62, 45, 45, 0.421); */
    
}
.details{
    margin-left: 20px;
}
.bg{
    background-size:cover;
    background-repeat: no-repeat;
    filter: blur(5px);
    -webkit-filter: blur(8px);
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 95vh;
    background-image: linear-gradient(to bottom ,rgb(32, 28, 28),rgba(146, 137, 137, 0));
}
.review{
    /* background-color: aqua; */
    width: 30vw;
    padding: 20px;
    padding-top: 80px;
    color: rgb(43, 44, 46);
    color: white;
}
.para{
    font-size:large;
}
.reviewList{
    padding-top: 2px;
    background-color:aqua;
    background-image: linear-gradient(to bottom ,rgb(171, 181, 153),rgba(159, 194, 154, 0));
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 15px;
    padding-bottom: 1px;
    text-align: left;
 
}
.reviewLists{
    padding-top: 2px;
    /* background-color: rgb(39, 39, 43); */
    /* background-image: linear-gradient(to bottom ,rgb(255, 255, 255),rgba(46, 43, 43, 0)); */
    margin-top: 20px;
    border-radius: 5px;
    padding-left: 15px;
    padding-bottom: 1px;
   
}
.posi{
    height: 60vh;
 overflow-y: auto;
}