.colr{
    background-image: linear-gradient(to bottom ,rgb(55, 157, 189),rgba(84, 118, 122, 0));
    border-radius: 6px;
    /* width: px; */
}
.c{
    background-color: rgb(43, 115, 208);
    color: rgb(6, 14, 17);
    padding: 3px;
    border-radius: 3px;
    margin: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

.l{
display: flex;
justify-content: center;
align-items: center;

}